p{
    background: yellowgreen;
    color:white;
}
#tittle{
    background: yellowgreen;
    color:black;
}
.content{
    background:blue;
    color:chartreuse;
}
.outer-box{
    border:solid 5px;
    border-color:black;
    width:300px;
    height:200px;
    background: chartreuse;
    color:maroon
    
    
}
.box{
    margin: 300px;
    background: blueviolet;
    padding-left: 50px;
}
.inner-div{
    margin: 8px;
    background: mediumseagreen;
    width:200px;
    height:100px;

}
